<div>
    <div class="p-field p-grid">
        <label for="dni1" class="p-col-fixed" style="width:100px">DNI</label>
        <div class="p-col">
            <input id="dni1" type="text" pInputText>
        </div>

    </div>
    <div class="p-field p-grid">
        <label for="firstname2" class="p-col-fixed" style="width:100px">Firstname</label>
        <div class="p-col">
            <input id="firstname2" type="text" pInputText>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="dni1" class="p-col-fixed" style="width:100px">E-mail</label>
        <div class="p-col">
            <input id="dni1" type="text" pInputText>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="dni1" class="p-col-fixed" style="width:100px">Username</label>
        <div class="p-col">
            <input id="dni1" type="text" pInputText>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="dni1" class="p-col-fixed" style="width:100px">Password</label>
        <div class="p-col">
            <input id="dni1" type="text" pInputText>
        </div>
    </div>
</div>
<br>
<h1>Tabla de prueba</h1>
<div>
    <p-table [value]="user">
        <ng-template pTemplate="header">
            <tr>
                <th>Vin</th>
                <th>Year</th>
                <th>Brand</th>
                <th>Color</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td></td>

            </tr>
        </ng-template>
    </p-table>
</div>