<div>
    <div class="p-field p-grid">
        <label for="dni1" class="p-col-fixed" style="width:100px">DNI</label>
        <div class="p-col">
            <input id="dni1" type="text" pInputText>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="firstname2" class="p-col-fixed" style="width:100px">Firstname</label>
        <div class="p-col">
            <input id="firstname2" type="text" pInputText>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="dni1" class="p-col-fixed" style="width:100px">E-mail</label>
        <div class="p-col">
            <input id="dni1" type="text" pInputText>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="dni1" class="p-col-fixed" style="width:100px">Username</label>
        <div class="p-col">
            <input id="dni1" type="text" pInputText>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="dni1" class="p-col-fixed" style="width:100px">Password</label>
        <div class="p-col">
            <input id="dni1" type="text" pInputText>
        </div>
    </div>
</div>