<div style="text-align: center;">
    <br>
    <h3>
        Registrece
    </h3>
    <h4>Seleccione la imagen de perfil</h4>
    <div style="text-align: center;">

        <div class="" *ngIf="showImagen" style="width: 700px;" style="text-align: center;">
            <img class="rounded-circle img-thumbnail" [src]="urlImagen" alt="" />
        </div>
        <br>
        <div>
            <form>
                <input type="file" name="archivo" (change)="onChange($event)" />
                <h5 *ngIf="subiendo">Subiendo imagen...</h5>
                <br />
                <label for="dni">URL: </label>
                <input type="text" name="url" id="url" required [(ngModel)]="user1.url">
                <br />
                <button class="btn" (click)="onClickSubir($event)">Subir Imagen</button>
            </form>
            <div class="error" *ngIf="error">
                <h1>Error al subir la imagen de perfil</h1>
            </div>
        </div>
        <br>
    </div>
    <div [hidden]="submitted" style="width: 300px;" style="text-align: center;">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="dni">DNI</label>
                <br>
                <input type="text" class="form-control" id="dni" required [(ngModel)]="user1.id" name="dni" required>
            </div>
            <br>
            <div class="form-group">
                <label for="nombres">Nombres</label>
                <br>
                <input type="text" class="form-control" id="nombres" required [(ngModel)]="user1.nombres" name="nombres" required>
            </div>
            <br>
            <div class="form-group">
                <label for="correo">correo</label>
                <br>
                <input type="text" class="form-control" id="correo" required [(ngModel)]="user1.correo" name="correo" required>
            </div>
            <br>
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <br>
                <input type="text" class="form-control" id="usuario" required [(ngModel)]="user1.usuario" name="usuario" required>
            </div>
            <br>
            <div class="form-group">
                <label for="password">Contrasenia</label>
                <br>
                <input type="text" class="form-control" id="password" required [(ngModel)]="user1.password" name="correo" required>
            </div>
            <br>
            <button pButton pRipple type="submit" label="Continuar ..." class="p-button-raised p-button-success"></button>

        </form>
    </div>
    <div [hidden]="!submitted">
        <button pButton pRipple type="button" label="Guardar" class="p-button-raised p-button-success" (click)="newUser()"></button>

    </div>
</div>

<br>