<form action="" style="max-width: 400px; margin: 0 auto;">
    <div>
        <h2>Login Usuario</h2>
        <p>Usuario:
            <input style="margin: 20px" type="text" id="usuario_in" name="usuario" class="form-control" placeholder="Usuario" [(ngModel)]="selecUser" required>
        </p>
        <p>Contraseña:
            <input style="margin: 20px" type="text" id="password_in" name="password" class="form-control" placeholder="Password" [(ngModel)]="selectContra" required>
        </p>


        <button pButton type="button" label="Ingresar" class="ui-button-raised ui-button-warning" (click)="validaLogin()"></button>
    </div>



</form>