<div>
    <img src="../../assets/Imagenes/c.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.50;">
    <form action="" style="max-width: 400px; margin: 0 auto;">

        <div>
            <h2>
                Ingrese sus Datos:
            </h2>
            <br>
            <div class="form-group">
                <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuario" [(ngModel)]="selecUser" required>
            </div>
            <br>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="selectContra" required>
            </div>

            <button pButton type="button" label="Ingresar" class="ui-button-raised ui-button-warning" (click)="onLogin()"></button>
        </div>



    </form>

</div>