<img src="../../assets/Imagenes/c.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.50;">
<h1>Tabla de usuarios</h1>
<div>
    <p-table [value]="user">
        <ng-template pTemplate="header">
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Usuario</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.nombres}}</td>
                <td>{{user.correo}}</td>
                <td>{{user.usuario}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>