<div class="container" style="text-align: center;">
    <div class="card">
        <div>
            <h3 style="text-align: left;">
                Descripcion
            </h3>
        </div>

        <h4 style="size: 5px;">
            Vamos a realizar, un registro y logea de un usuario el cual cargará una imagen de perfil que podrá ser modificada, dentro del sistema podrá realizar el almacenamiento de archivos multimedia, estos podrán ser accesibles por otros usuarios.

        </h4>


        <button pButton type="button" label="Registrarce" class="ui-button-raised ui-button-warning" routerLink="registro"></button>
    </div>
</div>